.forge-commit-ready
.forge/project-id
.claude/hooks/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
**/terraform.tfvars
!**/environments/*.tfvars
!**/terraform.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
